.body{ width:775px; min-height:300px; height:auto; overflow:hidden;}
.body_r{ width:621px; height:auto; background-color:#eef0f2; margin-left:4px; padding-bottom:6px;}
.title_r{ color:#faad08; margin-left:6px; margin-top:6px; font-size:14px;}
.title_line{ height:1px; width:609px; margin-left:6px; margin-top:6px; background-image:url(../images/title_line.jpg); background-repeat:repeat-x;}
.table{ width:609px; margin-left:6px;}

.search{ width:450px; height:26px; margin-left:175px; margin-top:6px;}
*html .search{ width:450px; height:26px; margin-left:-175px; margin-top:-3px; float:right;}
.search_text{ margin-top:2px;}

.orderId{ width:80px; height:22px;}
.couponId{ width:100px; height:22px;}
.Username{ width:100px; height:22px;}
.search_button { margin-left:3px;}

.cell_h{ height:80px;}
.t1{height:40px; width:60px;}
.t2{ height:40px; width:158px;}
.t3{ height:40px; width:80px;}
.t4{ height:40px; width:140px;}
.t5{ height:40px; width:100px;}
.table_title_text{ text-align:center; margin-top:11px;}

.item1{ height:80px; width:60px; border-left:1px solid #FFF; border-top:1px solid #FFF; border-bottom:1px solid #FFF; display:table;  }
*html .item1{padding-top:30px; padding-left:8px;}
.item2{ height:80px; width:158px; border-left:1px solid #FFF; border-top:1px solid #FFF; border-bottom:1px solid #FFF; display:table;}
*html .item2{padding-top:12px; padding-left:8px;}
.item3{ height:80px; width:80px; border-left:1px solid #FFF; border-top:1px solid #FFF; border-bottom:1px solid #FFF; display:table;}
*html .item3{padding-top:30px; padding-left:8px;}
.item4 {height:80px; width:140px; border-left:1px solid #FFF; border-top:1px solid #FFF; border-bottom:1px solid #FFF; display:table;}
*html .item4{padding-top:22px; padding-left:5px;}
.item6{height:80px; width:100px; border-left:1px solid #FFF; border-top:1px solid #FFF;  border-bottom:1px solid #FFF; display:table; }
*html .item6{padding-top:22px; padding-left:5px;}

.item_bg{ background-color:dddfe1;}


.table_item_text{ display:table-cell; vertical-align:middle; text-align:center; overflow:hidden; max-width:10px; }


.page_turn{ float:right; margin-right:20px; margin-top:8px; margin-bottom:10px;}



