#main{margin-left:auto; margin-right:auto;}
body{ height:100%;margin:0px;padding:0px; background-image:url(../images/bg_img.jpg);}
*html body{TEXT-ALIGN: center;}
body,table,td,tr,th,input,select{font-size:12px;font-family:"微软雅黑";}
body>div{margin-right:auto;margin-left:auto;}
img,form{border:0px;}
div{border:0px;margin:0px auto;padding:0px;text-align:left;height:auto;}
form,select{margin:0px;padding:0px;text-align:left;height:auto;}
input,select{vertical-align:middle;}
ul,ol,li,dl,dt,dd,p,span, h1, h2, h3, h4, h5, h6{border:0px;margin:0px;padding:0px;text-align:left;height:auto;}
h1, h2, h3, h4, h5, h6 { font-size: 12px; }
em, cite, strong, th { font-style: normal; }
s,ins,u,i{text-decoration:none;}
li{list-style:none;}
.fl{float:left;}
.fr{float:right;}
.cl{clear:both;}



.fl{ width:259px; height:247px; padding-left:25px; margin-top:38px; }
.platform_b{ width:259px; height:54px; background-image:url(../images/bg_select.jpg);}
.platform{ width:200px; height:20px; border:none; margin-top:15px; margin-left:38px;}
.couponId_b{ width:259px; height:54px; background-image:url(../images/bg_input_num.jpg); margin-top:8px;}
.couponId{width:200px; height:20px; border:none; margin-top:15px; margin-left:38px;}
.couponPwd_b{width:259px; height:55px; background-image:url(../images/bg_input_code.jpg); margin-top:8px; margin-bottom:8px;}
.couponPwd{width:200px; height:20px; border:none; margin-top:15px; margin-left:38px;}
.reset{ float:left; width:121px; height:50px; border:none; }
/*.submit{ width:121px; height:50px; float:right; background-image:url(../images/submit_1.jpg); border:none;}*/
.submit{ width:121px; height:50px; float:right; background-image:url(../images/submit_1.jpg); display:block;}
.button{width:259px; height:50px;}

.submit:hover{ background-image:url(../images/submit_2.jpg);}
.reset{ background-image:url(../images/reset.jpg); }
.imageResponse{ display:none;}

.result_r{ width:89px; height:60px; margin-top:25px; margin-left:84px; background-image:url(../images/result_r.jpg);}
.result_w{ width:75px; height:75px; margin-top:25px; margin-left:84px; background-image:url(../images/result_w.jpg)}

