#main{margin-left:auto; margin-right:auto;}
body{ height:100%;margin:0px;padding:0px; background-image:url(../images/bg_img.jpg);}
*html body{TEXT-ALIGN: center;}
body,table,td,tr,th,input,select{font-size:12px;font-family:"微软雅黑";}
body>div{margin-right:auto;margin-left:auto;}
img,form{border:0px;}
div{border:0px;margin:0px auto;padding:0px;text-align:left;height:auto;}
form,select{margin:0px;padding:0px;text-align:left;height:auto;}
input,select{vertical-align:middle;}
ul,ol,li,dl,dt,dd,p,span, h1, h2, h3, h4, h5, h6{border:0px;margin:0px;padding:0px;text-align:left;height:auto;}
h1, h2, h3, h4, h5, h6 { font-size: 12px; }
em, cite, strong, th { font-style: normal; }
s,ins,u,i{text-decoration:none;}
li{list-style:none;}
.fl{float:left;}
.fr{float:right;}
.cl{clear:both;}


.fr{ width:259px; height:247px; padding-right:25px; margin-top:55px;}
.text_1{ font-size:18px; margin-top:10px; color:#cc1105;}
.line{ width:255px; height:3px; margin-top:10px; background-image:url(../images/bg_line.jpg); background-repeat:repeat-x;}
.text_2_2{ line-height:150%; margin-top:10px; color:#7a7a7a;}
.imageResponse{ width:89px; height:60px;}
.result_r{ width:89px; height:60px; margin-top:15px; margin-left:84px; background-image:url(../images/result_r.jpg);}
.result_w{ width:75px; height:75px; margin-top:15px; margin-left:84px; background-image:url(../images/result_w.jpg)}
